<main>
    <div class="pelicula-principal">
        <div class="contenedor">
            <h3 class="titulo">{{job.name}}</h3>
            <h4>Description</h4>
            <p class="descripcion">
                {{job.description}}
            </p>
            <h4>Requirement</h4>
            <p class="descripcion">{{job.requirement}}</p>
            <h4>Salary</h4>
            <p class="descripcion">{{job.salary}}</p>
            <h4>Company</h4>
            <p class="descripcion">{{job.company}}</p>
            <button role="button" class="boton"><i class="fas fa-play"></i>Apply now</button>
        </div>
    </div>
    <div class="video">
    </div>

</main>