
<div class="mt-4">
    <div class="row">
        {{#each courses}}
            <div class="col-sm-6 col-lg-4">
                <div class="card card-course-item" >
                    <a href="/courses/{{this.slug}}">
                        <img src="{{this.image}}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href="/courses/{{this.slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text">{{this.description}}</p>
                        <a href="/courses/{{this.slug}}" class="btn btn-primary">Study Now !!!</a>
                        <a href="/courses/stored/{{this._id}}" class="btn btn-primary">Add to your course</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<nav aria-label="Page navigation example">

    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/courses?page={{result.previous}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="/courses?page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="/courses?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="/courses?page=3">3</a></li>
        <li class="page-item"><a class="page-link" href="/courses?page={{result.next}}">Next</a></li>
    </ul>

</nav>


