
<main>
    <div class="pelicula-principal">
        <div class="contenedor">
            <h3 class="titulo">{{courses.name}}</h3>
            <p class="descripcion">
               {{courses.description}}
            </p>
            <button role="button" class="boton"><i class="fas fa-play"></i>Study Now</button>
        </div>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{courses.vidId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="listgroup" >
        <h3>Relative Courses</h3>
        {{#each courses.subCourse}}
        <ul class="list-group" id="job-detail-danger">
            <a href="#" class="list-group-item list-group-item-dark" data-toggle="modal" data-target="#video-modal-{{this.sub_slug}}">{{this.name}}</a>
        </ul>
        {{/each}}
    </div>
</main>

<!--Video modal-->
{{#each courses.subCourse}}
    <div class="modal fade bd-example-modal-lg" id="video-modal-{{this.sub_slug}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{this.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    {{this.description}}
                </div>
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{this.vidId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{/each}}
